body
    {
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
    }

main
    {
        display: flex;
        flex-direction: row;
        flex: auto;
    }

article
    {
        flex: 2;
        overflow-y: auto;
        border-radius: 20px;
        border-color: blueviolet;
        border: dashed;
    }

aside
    {
        flex: 1;   
        overflow-y: auto;
        background-color: #42454e;
    }